body {
    background: linear-gradient(to left, #FEE7D5, #fefaf6);
    /*text-align:center;*/
    color:#495057;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}
.card {
  width:100%;
}

.card-img-top {
  width:20%;
}

.rounded {
  border-radius:1.25rem!important;
}

.edit_icon {
  position: absolute;
  top:1rem;
  right:1rem;
}

.edit {
  background-color: #343a40;
}

.container_position {
  position: relative;
}

.title {
  color: #495057;
  font-size: 1.5rem;
}

.published_at {
  color: rgba(0,0,0,.6);
  font-size: 0.8rem;
}

.description {
  color: #495057;
  font-size: 1rem;
}

.episode-details {
  background: linear-gradient(to top, #FEE7D5, #fefaf6);
}

.mejs__controls {
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  /*position: absolute;*/
  width: 100%;
  z-index: 3;
}

.skip {
  font-size: 10px;
  height: 30px;
  line-height: 10px;
  margin: 0;
  width: 30px;
  padding: 0;
  margin-top: - 10px;
}

.mejs__button, .mejs__time, .mejs__time-rail {
  font-size: 10px;
  height: 40px;
  line-height: 10px;
  margin: 0;
  width: 32px;
  padding: 16px 6px 0;
}

.mejs__time {
  box-sizing: content-box;
  /*color: #fff;*/
  font-size: 11px;
  font-weight: 700;
  height: 24px;
  overflow: hidden;
  padding: 16px 6px 0;
  text-align: center;
  width: 10%;
}

.mejs__time-rail {
  margin-top: 15px;
  direction: ltr;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 0.3;
  height: 40px;
  padding-top: 10px;
  position: relative;
  width: 70%;
}

.mejs__volume-button {
  position: relative;
}


.content-wraper {
  margin-top: 150px;
}

a {
  color: #26a8ed;
  text-decoration: none;
  background-color: transparent;
}

.orange {
  color: #fc561e;
}

.playerBtn {
  width:45px;
  height:45px;
}

.svgBtnDefault {
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;

  & > svg {
    margin: auto;
  }
}

.button-outline {
  position: relative;
  z-index: 2;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid currentcolor;
}

.btn-big {
  padding: 0.6rem;
}

.nav-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}



/*buttons.css*/

.sb-soundplayer-btn {
  display: inline-block;
  background-color: transparent;
  color: #FC561E;
  font-size: 1em;
  padding: 16px;
  padding: 1rem;
  margin: 0;
  height: auto;
  vertical-align: middle;
  border-radius: 3px;
  text-decoration: none;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-transition: .05s ease, -webkit-transform, -webkit-box-shadow;
  transition: .05s ease, -webkit-transform, -webkit-box-shadow;
  transition: transform, box-shadow, .05s ease;
  transition: transform, box-shadow, .05s ease, -webkit-transform, -webkit-box-shadow;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
}
.sb-soundplayer-btn:hover {
  -webkit-transform: scale(1.0625);
          transform: scale(1.0625);
}
.sb-soundplayer-btn:focus {
  -webkit-transform: scale(.9375);
          transform: scale(.9375);
}
.sb-soundplayer-btn:active {
  -webkit-box-shadow: inset 0 0 0 2px #FC561E;
          box-shadow: inset 0 0 0 2px #FC561E;
}
.sb-soundplayer-btn:hover,
.sb-soundplayer-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*cover*/

.sb-soundplayer-cover {
  color: #fff;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 30px 20px 30px;
  margin-bottom: 20px;
  height: 440px;
  position: relative;
  overflow: hidden;
  cursor: default;
  border-radius: 2px;
}
.sb-soundplayer-cover:after {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .35)));
  background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .35));
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sb-soundplayer-cover .sb-soundplayer-info-box {
  display: inline-block;
  background-color: rgba(0, 0, 0, .8);
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 1px;
}
.sb-soundplayer-cover .sb-soundplayer-track {
  font-weight: 600;
  font-size: 24px;
}
.sb-soundplayer-cover .sb-soundplayer-artist {
  font-size: 18px;
}
.sb-soundplayer-cover-logo {
  color: rgba(255, 255, 255, .9);
  width: 100px;
  height: 14px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}

/*icons*/

.sb-soundplayer-icon {
  width: 1em;
  height: 1em;
  position: relative;
  vertical-align: middle;
}

/*progress*/

.sb-soundplayer-progress-container {
  background-color: #DDD;
  width: 50%;
  height: 10px;
  overflow: hidden;
  cursor: pointer;
}

.sb-soundplayer-progress-inner {
  background-color: #FC561E;
  height: 100%;
  -webkit-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

/*volume*/

.sb-soundplayer-volume {
  position: relative;
}
.sb-soundplayer-volume:hover div {
  width: 80px;
}
.sb-soundplayer-volume div {
  /*overflow: hidden;*/
  /*width:0;*/
  -webkit-transition: width .2s ease-out;
  transition: width .2s ease-out;
  position: relative;
  margin-top:-40px;
  margin-left:40px;
}
.sb-soundplayer-volume-range {
  -webkit-appearance: none;
  /*width: 98%;*/
}
.sb-soundplayer-volume-range:focus {
  outline: none;
}

/* track */
.sb-soundplayer-volume-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #DDD;
  border-radius: 1.3px;
}
.sb-soundplayer-volume-range::-moz-range-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #DDD;
  border-radius: 1.3px;
}
.sb-soundplayer-volume-range::-ms-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #DDD;
  border-radius: 1.3px;
}
/* thumb dial */
.sb-soundplayer-volume-range::-moz-range-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FC561E;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}
.sb-soundplayer-volume-range::-webkit-slider-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FC561E;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}
.sb-soundplayer-volume-range::-ms-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FC561E;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}
/* progress fill */
.sb-soundplayer-volume-range::-ms-fill-lower {
  background: #FC561E;
}
